@import url("https://fonts.googleapis.com/css?family=Audiowide&effect=fire");

body {
  background-color: #f7f7f7;
  font-family: Garamond, Serif;
  font-size: 1.5em;
}

h1 {
  background-color: #7da2a9;
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  margin-left: 20px;
  color: #f7f7f7;
}

h2 {
  font-family: "Audiowide", sans-serif;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
