@import url("https://fonts.googleapis.com/css?family=Audiowide&effect=fire");

body {
  background-color: #f7f7f7;
  font-family: Garamond, Serif;
  font-size: 1.5em;
  margin: auto;
}

h1 {
  background-color: #7da2a9;
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  margin-left: 5px;
  margin-right: 20px;
  margin-top: 20px;
  color: #f7f7f7;
}

h2 {
  font-family: "Audiowide", sans-serif;
}

ul.nav {
  list-style: none;
  background-color: #555;
  margin:0;
  padding: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 10%;
  height: 100%
}

ul.dropdown {
  list-style: none;
  visibility: hidden;
}


ul.nav li a {
  /* float: left; */
  display: block;
  padding: 8px;
  text-decoration: none;
  color: white;
  border-right: 1px solid #7da2a9;
}

ul.nav li:last-child a {
  /* float: center; */
  border-right: none;
  margin-right: 0px;
}

ul.nav li a:hover {
  color: #555;
  background-color: #f7f7f7;
}

ul.nav li a.active {
  background-color: #7da2a9;
}

div.content {
  margin-left: 10%;
  padding: 1px 16px
}

@media screen and (max-width: 900px) {
  ul.nav {
    width: 100%;
    height: auto;
    position: sticky;
  }
  
  ul.nav li a {
    float: left;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.nav li a {
    text-align: center;
    float: none;
  }
}

#work_history {
  border-collapse: collapse;
  text-align: left;
  overflow: auto;

}

#work_history th, #work_history td {
  padding: 8px;
  border: 1px solid #555;
  font-size: 0.8em;
}

#work_history th {
  background-color: #7da2a9;
  color: white;
}

#work_history tr:nth-child(even){background-color:#7da2a928;}

#work_history tr:hover {background-color: #ddd;}

video {
  position: relative;
  width: max-content;
  border-style: groove;
  border-radius: 5px;
}

img {
  border-style: groove;
  border-radius: 5px;
}

.formErrorMessage {
  color:red;
}

input {
  border-radius: 5px;
}

textarea {
  height: 75px;
  width: 350px;
}

